__pycache__/
__pycache__/*.*
downloaded_files
downloaded_files/*/*.*
downloaded_files/*.*
*.mat
*.m

*.DS_Store
*.pth
trained_models
archive
data
checkpoints

build
heart_rhythm_analysis.egg-info
notebooks/runs/*